<%= form_with(model: category) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
    <ul>
        <% @category.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
